{% extends "base.html" %}


{% block title %}Log In{% endblock %}
{% block header %}Log In{% endblock %}


{% block content %}

{% if additional_message %}
	<p><strong>{{ additional_message }}</strong>
</p>{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="/auth/recieveLogin/" method="post">
{% csrf_token %}
<input type="text" name="username" id="usern" />
<label for="usern">Enter your user name</label><br />

<input type="password" name="pword" id="pass" />
<label for="pass">Enter your password</label><br />

<input type="submit" value="Log In" />
</form>

{% endblock %}