{% extends "base.html" %}

{% load socialaccount %}


{% block title %}Log In{% endblock %}
{% block header %}Log In{% endblock %}


{% block content %}
<br/>
	<br/>
{% if additional_message %}
	<p><strong>{{ additional_message }}</strong>

	<br/>
</p>{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="Form" action="/auth/recieveLogin/" method="post">
<br/>
{% csrf_token %}
<input type="text" name="username" id="usern" />
<label for="usern">Enter your user name</label><br />

<input type="password" name="pword" id="pass" />
<label for="pass">Enter your password</label><br />

<input type="submit" class="button" value="Log In" />
</form>

<a href="{% provider_login_url 'twitter' next='/logs/' %}">Twitter</a>

{% endblock %}