{% extends "logs/base.html" %}

{% block additionalScripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
	<script type="text/javascript">
	$(document).ready(function() 
	    { 
	        $("#categories").tablesorter(); 
	    } 
	);
	</script> 
{% endblock %}

{% block title %}Entries for {{ catName }} category{% endblock %}
{% block header %}Entries for {{ catName }} category{% endblock %}


{% block content %}
<br/>
{% if logList %}
	<table id="categories" class="tablesorter"> 
	<thead> 
	<tr> 
	    <th>Content</th> 
	    <th>Date</th> 
	    <th>User</th> 
	</tr> 
	</thead> 
	<tbody> 	
	{% for log in logList %}
	<tr> 
	    <td><a href="/logs/entry/{{ log.id }}/">{{ log.content }}</a></td> 
	    <td width=220px>{{ log.entryDate }}</td> 
	    <td>{{log.user}}</td> 
	</tr> 
	{% endfor %}
	
	
	</tbody> 
	</table> 

	 
	
	
{% else %}
     <p>No entries are available.</p>
{% endif %}

{% endblock %}

{% block footerColumn2 %}

<form id="Form" action="/logs/submitEntry/" method="post">
{% csrf_token %}
<div  class="textarea_box">
	<div class="bg">
		<textarea rows="5" cols="50"  name="content"  onclick="this.value = ''">Add a new entry to this category.</textarea>
	</div>
</div>		
<select multiple name="preceedings" id="prec" size="5"> 
{% for entry in logList %}
    <option value="{{ entry.id }}">{{ entry.content }}</option>
{% endfor %}
</select>
<label for="prec">Preceeding entries</label><br />
<input type="hidden" name="category" id="categ" readonly="readonly" value = {{ catID }} />
<input type="hidden" name="newCategory" id="prec" readonly="readonly" value = "" />
<input type="submit" class="button" value="Submit Entry" />

</form>

{% endblock %}
