{% extends "logs/base.html" %}


{% block title %}Category Index{% endblock %}
{% block header %}List of Categories{% endblock %}

{% block content %}
<br/>
{% if category_list %}
     <ul class="list2">
     {% for category in category_list %}
          <li><a href="/logs/categories/categoryEntries/{{ category.categoryName }}/">{{ category.categoryName }}</a></li>
     {% endfor %}
     </ul>
{% else %}
     <p>No categories are available.</p>
{% endif %}

<a href="/logs/categories/newCategory/">Add new category</a>

{% endblock %}


