{% extends "logs/base.html" %}


{% block title %}Entry details{% endblock %}
{% block header %}Entry details{% endblock %}

{% block content %}



<ul>

<li>Belongs in  : {{ entry.category }}</li>
<li>Content		: {{ entry.content }}</li>
<li>Entry date  : {{ entry.entryDate }}</li>
<li>User		: {{ entry.user }}</li>
<li>Is Active?	: {{ entry.activeFlag }}</li>
 </ul>
 
 <h3> Entry modification</h3>
 
<form action="/logs/modifyEntry/{{ entry.id }}/" method="post">
{% csrf_token %} 
 
<input type="text" name="content" id="cont" value={{ entry.content }} />
<label for="cont">Enter the new content</label><br />
 
<select name="category" id="categ" >
{% for catg in cats %}
    <option value="{{ catg.id }}"     {% if catg.categoryName == entry.category.categoryName %} selected= "selected"  {% endif %} >{{ catg.categoryName }}</option>
{% endfor %}
</select>
<label for="categ">Select the new category...</label><br />

<input type="checkbox" name="active" value="Active Entry" id="active" {% if entry.activeFlag %} checked{% endif %} > 
<label for="active">Active</label><br />
 
<input type="submit" value="Modify Entry" />
</form>


{% if preceeders %}
	
	<h2>Preceeding Entries:</h2>
	
	<ul>
     {% for prec in preceeders %}
          <li><a href="/logs/entry/{{ prec.id }}/"> {{ prec.content }}  at {{ prec.entryDate }}  by {{prec.user}}  </a> {% if not prec.activeFlag %}<strong> (DELETED) </strong>{% endif %}</li>
     {% endfor %}
    </ul>


{% endif %}

{% if succeeders %}
	
	<h2>Succeeding Entries:</h2>
	
	<ul>
     {% for prec in succeeders %}
          <li><a href="/logs/entry/{{ prec.id }}/"> {{ prec.content }}  at {{ prec.entryDate }}  by {{prec.user}} </a> {% if not prec.activeFlag %} <strong> (DELETED)  </strong>{% endif %}</li>
     {% endfor %}
    </ul>


{% endif %}



{% endblock %}