{% extends "logs/base.html" %}


{% block title %}Welcome to IDLog{% endblock %}
{% block header %}Welcome to IDLog{% endblock %}

{% block content %}

<h2>Latest Entries:</h2>

{% if latest_entry_list %}
     <ul>
     {% for log in latest_entry_list %}
          <li><a href="/logs/entry/{{ log.id }}/">In {{ log.category }} : {{ log.content }}  at {{ log.entryDate }}  by {{log.user}}</a></li>
     {% endfor %}
     </ul>
{% else %}
     <p>No entries are available.</p>
{% endif %}




{% endblock %}