{% extends "logs/base.html" %}

{% block additionalScripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
	<script type="text/javascript">
	$(document).ready(function() 
	    { 
	        $("#entries").tablesorter(); 
	    } 
	);
	</script> 
{% endblock %}


{% block title %}Welcome to IDLog{% endblock %}
{% block header %}Welcome to IDLog{% endblock %}

{% block content %}
<br>
<br>
<ul class="list2">
<li><strong> Latest Entries: </strong></li>
</ul>
{% if latest_entry_list %}
	<table id="entries" class="tablesorter"> 
	<thead> 
	<tr> 
	    <th>Category</th> 
	    <th>Content</th> 
	    <th>Entry Date</th> 
	    <th>User</th> 
	</tr> 
	</thead> 
	<tbody> 


    
    {% for log in latest_entry_list %}
	<tr>
		<td><a href="/logs/categories/categoryEntries/{{ log.category.categoryName }}/">{{ log.category }}</a></td>  
	    <td><a href="/logs/entry/{{ log.id }}/">{{ log.content|linebreaks  }}</a></td> 
	    <td width=220px>{{ log.entryDate }}</td> 
	    <td>{{log.user}}</td> 
	</tr> 
	{% endfor %}
    
	
	</tbody> 
	</table> 
{% else %}
     <p>No entries are available.</p>
{% endif %}




{% endblock %}


{% block footerColumn2 %}

<form id="Form" action="/logs/submitEntry/" method="post">
{% csrf_token %}
<div  class="textarea_box">
	<div class="bg">
		<textarea rows="5" cols="50"  name="content"  onclick="this.value = textChange(this.value)">-Quick Entry.</textarea>
	</div>
</div>		
<select name="category" id="categ">
{% for catg in categories %}
    <option value="{{ catg.id }}">{{ catg.categoryName }}</option>
{% endfor %}
</select>
<label for="categ">Select the category</label><br />

<input type="hidden" name="newCategory" id="prec" readonly="readonly" value = "" />
<input type="submit" class="button" value="Submit Entry" />

</form>

{% endblock %}