<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cufon-yui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cufon-replace.js"></script>  
	<script type="text/javascript" src="{{ STATIC_URL }}js/Copse_400.font.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.pack.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/imagepreloader.js"></script>
	
	
    <title>{% block title %}IdLog- Django verion By G{% endblock %}</title>
    
    
    {% block additionalScripts %} {% endblock %}
</head>
<body id= {% block bodyID %} "page1"   {% endblock %}>
	
	{% block navigationBar %} {% endblock %}

	<div class="body7">
		<div class="main">
			<section id="content">
				<div class="wrapper">

    <div class="pad1"><h2>{% block header %}IdLog- Django verion By G{% endblock %}</h2></div>
    
    {% block content %}
    This is good!!
    
    {% endblock %}
    
    
   				 </div>
			</section>
		</div>
	</div>
<div class="body8">	
	<div class="body9">
		<div class="main">
			<footer>
				{% block footer %}
			    <div class="col_1 pad_left1">
								<h3>Designed By G</h3>
								
				</div>
				<div class="col_1 pad_left1">
				{% block footerColumn2 %}
				
				
				{% endblock %}
				</div>
			    {% endblock %}
   				 
    
    		</footer>
		</div>
		<!-- / footer -->
	</div>
</div>	
    
</body>
</html>